[submodule "rlfss/hhhyyy"]
	path = rlfss/hhhyyy
	url = git@github.com:rlfss/hhhyyy.git
	branch = master

[submodule "rlfss/hhhyyy22222"]
	path = rlfss/hhhyyy22222
	url = git@github.com:rlfss/hhhyyy.git
	branch = master2

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 12.0

[submodule "rlfss/hhhyyy3333"]
	path = rlfss/hhhyyy3333
	url = git@github.com:rlfss/hhhyyy.git
	branch = master3

[submodule "rlfss/hhhyyy4444"]
	path = rlfss/hhhyyy4444
	url = git@github.com:rlfss/hhhyyy.git
	branch = master4
